
{% load static %}
<link rel="stylesheet" href="{% static 'visitCounter/style.css' %}">

<h3>
    Times Visited:
</h3>

<a href="{{ 'create_user' }}">create user</a>

{% for visit in visitor %}

    <table class="myTable">
        <tr>
            <th id="count"> Count </th>
            <th> User </th>
        </tr>
        <tr>
            <td> {{visit.count}} </td> 
            <td> {{visit.username}} </td> 
        </tr>
    </table>
    <table>
        <td><strong> Total </strong></td>
        <td> {{visit.count}} </td>
    </table>

{% endfor %}


